tester_bind_mount/**
!tester_bind_mount/.gitkeep

!tester_bind_mount/.ssh
tester_bind_mount/.ssh/**
!tester_bind_mount/.ssh/.gitkeep

!tester_bind_mount/output
tester_bind_mount/output/**
!tester_bind_mount/output/.gitkeep
